ion-content{
  video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  }
  .overlay{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-color: rgba(11, 49, 49, 0.7);
    z-index: -50;
    transform: translateX(-50%) translateY(-50%);
  }
  .logo{
    width : 22%;
    height : 11%;
    position: absolute;
    top : 24%;
    left : 50%;
    transform: translateX(-48%);
    z-index: 1;
    img{
      width : 100%;
      height: 100%;
      filter: brightness(1.3);
    }
  }
  .createAccount{
    width : 100%;
    text-align: center;
    height : auto;
    position: absolute;
    bottom : 10%;
    left : 50%;
    transform: translateX(-50%);
    a,p{
      color : #A4FDFF;
      font-size: .8rem;

      // border-bottom: 1px solid #A4FDFF;
    }
    a{
      padding-bottom: .2rem;
      border-bottom : 1px solid #A4FDFF;
    }
  }
  .connection{
    position: absolute;
    width : 80%;
    height : 26vh;
    top : 45%;
    left : 50%;
    transform: translateX(-50%);
    z-index : 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color : white;
    ion-icon{
      font-size: 1.5rem !important;
    }
    &__btn{
      display: block;
      border-radius: 40px;
      width: 100%;
      padding: .4rem 2rem;
      text-align: center;
      &:not(:last-child){
        margin-bottom: 1.5rem !important;
      }
      &--ggl{
        background-color: rgb(169, 2, 2);
      }
      &--fb{
        background-color: rgb(57, 57, 218);
      }
      &--apl{
        background-color: rgb(155, 155, 155);
      }
    }

  }
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height : 70vh;
  h2{
    color : #A4FDFF;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 700;
    width: 80%;
    margin-bottom: 4rem;
    text-transform: uppercase;
  }
  ion-item{
    --ion-item-background: transparent;
    color : #A4FDFF;
    --border-color: #A4FDFF !important;
  }
  .avatar{
    display: block;
    width : 7rem;
    height: 7rem;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    ion-icon{
      display: none;
      position: absolute;
      top : 50%;
      left: 50%;
      font-size: 1.3rem;
      transform: translate(-50%,-50%) !important;
    }
    .overlay{
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      top : 50%;
      left : 50%;
      transform: translate(-50%,-50%) !important;
      z-index: -1;
      background-color: rgba(0,0,0,.6);
    }
    img{
      width : 100%;
      height : 100%;
      position: absolute;
      top : 0;
      left : 0;
      z-index : -2;
    }
    &:hover{
      .overlay, ion-icon{
        display: block;
      }
    }
  }
  .errorMsg{
    color : rgb(255, 121, 121);
    &--input{
      display: block;
      font-size: .8rem;
      margin-left: .8rem;
      margin-top: .8rem;
      font-weight: 500;
    }
  }
  .submit{
    display: block;
    border-radius: 40px;
    width: 100%;
    padding: .8rem 2rem;
    text-align: center;
    font-size: 1rem;
    background-color: #1a7172;
    color : white;
    margin-top: 4rem;

    &[disabled],&:disabled{
      background-color: #6e8383 ;
      color : #d6d6d6;
    }
  }

  &--userData{
    margin-top: 2rem;
    width: 90%;
  }

}
